body {
	background-color: #E3FFFF;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: white;
	height: 100%;
	width: 800px;
}

.tweet-box {
	width: 793px;
	height: 56px;
}

.header {
	text-align: right;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.profile .name h2 {
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ECECFF;

}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}

label {
	display: block;
}

.search-block label {
	display: inline;
}


.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.comment .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.refine {
	display: inline;
}

.table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
}

.table  table td {
	padding: 10px;
}

.table table th {
	text-align: center;
}

.messages .message .title {
	padding: .25em 0 .5em .75em;
	border-left: 6px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.title {
	width: 640px;
}

.messages .text {
   word-wrap:break-word;
}


